html body {
    background-color: #f4f4f4;
}

/*Configuração da navbar*/
.navbar {
    background-color: #4e338c;
}

.navbar-light .navbar-brand{
    color: white;
}

.logo{
    border-radius: 10px;
}

/*Customização de formulários */
.forms{
    margin: 1rem;
    margin-top: 3rem;
    padding:1rem;
    background-color: white;
}

/*Customização de listas para index */
.indexes{
    margin: 1rem;
    margin-top: 3rem;
    padding:1rem;
    background-color: white;
}

/*Customização de botões*/
a .btn {
    color:white;
}

.btn-warning{
    color: white;
}

.btn-warning:hover{
    color: white;
}

.btn a:hover{
    color:white;
    text-decoration: none;
}

/*Customização de mensagens*/
.mensagens{
    padding-top:1rem;
    padding-bottom:0rem;
}

/*Customizaçaõ de tabela*/
.table td{
    vertical-align: middle;
}
.pagination ul {
    float: none;
    display: inline-block;
    overflow: hidden;
 }
 .pagination.center {
    text-align: center;
 }