html body {
    background-color: #f4f4f4;
}

/*Configuração da navbar*/
.navbar {
    background-color: #4e338c;
}

.navbar-light .navbar-brand{
    color: white;
}

.logo{
    border-radius: 10px;
}

/*Customização de formulários */
.forms{
    margin: 1rem;
    margin-top: 3rem;
    padding:1rem;
    background-color: white;
}

/*Customização de listas para index */
.indexes{
    margin: 1rem;
    margin-top: 3rem;
    padding:1rem;
    background-color: white;
}

/*Customização de botões*/
.btn a{
    color:white;
}

.botoes{
    @include float-right;
}